<ion-content>
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="end">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Menù</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div text-center>
    <ion-button color="success" (click)="scanCode()"> Scan QR-Code </ion-button>

    <h3 center>You are watching...</h3>

    <ion-card>
      <img src="../../../assets/Paintings/{{image}}">
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label><b>Title:</b> </ion-label> {{title}}
          </ion-item>
          <ion-item>
            <ion-label><b>Author:</b> </ion-label> {{author}}
          </ion-item>
          <ion-item>
            <ion-label><b>Year: </b> </ion-label> {{year}}
          </ion-item>
          <ion-item>
            <ion-label><b>Style: </b> </ion-label> {{style}}
          </ion-item>
          <ion-item>
            <ion-label><b>Description: </b></ion-label>
            <p>{{description}}</p>
          </ion-item>
        </ion-list>


        <form [formGroup]="feedbackForm" class="formGroup" (submit)="onFeed()">
          <ion-item padding>
            <ion-label position="floating"><b>Your impression</b></ion-label>
            <ion-range formControlName="rate" min="0" max="5" pin="true" step="1" value="0" snaps="true">
              <ion-icon size="small" slot="start" name="ios-star" class="negative"></ion-icon>
              <ion-icon size="big" slot="end" name="ios-star" class="positive"></ion-icon>
            </ion-range>
          </ion-item>

          <div text-center>
            <ion-button color="success" class="formGroup" type="submit">
              your feedback
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>





</ion-content>