<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Menù</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img src="../../../assets/image2.jpg" />
      <ion-card-header>
        <ion-icon name="logo-angular" slot="start"></ion-icon>
        <ion-card-subtitle>Museum Application </ion-card-subtitle>
        <div text-center>
          <ion-card-title>
            <h3>Team 8</h3>
          </ion-card-title>
        </div>
      </ion-card-header>
      
  <ion-card-content>


      <ion-card>
        <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="../../../assets/team8/valeria.jpg">
          </ion-avatar>
          <ion-label>Valeria Perrini</ion-label>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="../../../assets/team8/Ida.jpg">
          </ion-avatar>
          <ion-label>Ida De Stefano</ion-label>
        </ion-item>
      </ion-card>

      <ion-card >
        <ion-item color="primary">
          <ion-avatar slot="start">
            <img src="../../../assets/team8/Ilaria.jpg">
          </ion-avatar>
          <ion-label>Ilaria Bottiglieri</ion-label>
        </ion-item>
      </ion-card>

  </ion-card-content>
  </ion-card>

</ion-content>