ion-content{
    ion-card{
        background-color: #ffffff;
    }

    ion-label{
        display: block;
        float: left;
        padding-top: 2px;
    }
    img.center {
        display: block;
        margin: 0 auto;
    }
}