<ion-content center text-center>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Menù</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-card>
      <img src="../../../assets/advice4.jpg" />
      <ion-card-header>
        <ion-icon name="logo-angular" slot="start"></ion-icon>
        <ion-card-subtitle>Museum Application </ion-card-subtitle>
        <div text-center>
          <ion-card-title>
            <h3><b>{{name}}</b> We noticed that you like '{{style}}' style .. you might also like</h3>
          </ion-card-title>
        </div>
      </ion-card-header>

      <ion-card-content>          
        <ion-list inset>
          <ion-item *ngFor="let item of lista">
            <ion-grid>
              <ion-row>
                {{item.name}}
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <img src="../../../assets/happy.svg" >
  </ion-grid>
  


</ion-content>