<ion-content center text-center>
  <div text-center>
    <ion-toolbar color="primary">
      <ion-title>
        Signup
      </ion-title>
    </ion-toolbar>
  </div>

  <div>
    <img src="../../assets/backpiccolo.png" class="logo" />
  </div>

  <form [formGroup]="signupForm" class="signup-container" (submit)="onSignup()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input #username formControlName="username" type="text" (keyup.enter)="onSignup()"
                placeholder="Username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #email formControlName="email" type="email" placeholder="your@email.com"
                (keyup.enter)="onSignup()"></ion-input>
            </ion-item>
            <ion-item lines="none" tabindex="2">
              <ion-checkbox color="primary" slot="end" #showPassword></ion-checkbox>
              <ion-input #password formControlName="password" required="true"
                [type]="showPassword.checked ? 'text' : 'password'" type="password" (keyup.enter)="onSignup()"
                placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="primary" size="large" type="submit" expand="block">Signup</ion-button>
          </div>
          <div text-center>
            If you already have an account, please <a routerLink='/'>
              login</a>!
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>