<ion-content>
    <form [formGroup]="signupForm" class="signup-container" (submit)="onSignup()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input #username formControlName="username"  type="text" (keyup.enter)="onSignup()" placeholder="Username" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #email formControlName="email" type="email" placeholder="your@email.com" (keyup.enter)="onSignup()"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input #password formControlName="password" type="password" (keyup.enter)="onSignup()" placeholder="Password" ></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit"  expand="block">Signup</ion-button>
          </div>
          <div text-center>
            If you already have an account, please <a routerLink='../login'>
              login</a>!
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>