<ion-content>
  <ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="end">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Menù</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-card>
      <img src="../../../assets/yourbookings.jpg" />
      <ion-card-header>
        <ion-icon name="logo-angular" slot="start"></ion-icon>
        <ion-card-subtitle>Museum Application </ion-card-subtitle>
        <div text-center>
          <ion-card-title>
            <h3>These are your bookings: <b>{{name}}</b></h3>
          </ion-card-title>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-list inset>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Date
                </ion-col>
                <ion-col>
                  Time
                </ion-col>
                <ion-col>
                  num. Visitors
                </ion-col>
                <ion-col>
                  Delete
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item *ngFor="let item of lista">
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{item.date}}
                </ion-col>
                <ion-col>
                  {{item.time}}
                </ion-col>
                <ion-col>
                  {{item.numberp}}
                </ion-col>
                <ion-col>
                    <button (click)="refreshPage(item.date,item.time,item.numberp)">
                        <ion-icon name="close"></ion-icon>
                      </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-grid>



</ion-content>