<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Menù</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-card>
      <img src="../../../assets/yourbookings.jpg" />
      <ion-card-header>
        <ion-icon name="logo-angular" slot="start"></ion-icon>
        <ion-card-subtitle>Museum Application </ion-card-subtitle>
        <div text-center>
          <ion-card-title>
            <h3>These are your bookings</h3>
          </ion-card-title>
        </div>
      </ion-card-header>






      <ion-list inset>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                Name
              </ion-col>
              <ion-col>
                Date
              </ion-col>
              <ion-col>
                Time
              </ion-col>
              <ion-col>
                number People
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngFor="let item of lista">
          <ion-grid>
            <ion-row>
              <ion-col>
                {{name}}
              </ion-col>
              <ion-col>
                {{item.date}}
              </ion-col>
              <ion-col>
                {{item.time}}
              </ion-col>
              <ion-col>
                {{item.numberp}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-grid>



</ion-content>