ion-content {
    
    --background: transparent;
    background: url('../../assets/back12.jpg');
    background-size: cover;
    
    ion-button{
        font-size: 26px;
        border-radius: 60px;   
    }
    
    h1 {
        margin: 60px 0;
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
