<ion-app>
  <ion-menu side="start" menuId="custom" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-list-header></ion-list-header>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/menu']">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>
              Home
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/menu/booking']">
            <ion-icon slot="start" name="clipboard"></ion-icon>
            <ion-label>
              Booking
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/menu/scan']">
            <ion-icon slot="start" name="qr-scanner"></ion-icon>
            <ion-label>
              Scan
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/menu/advice']">
            <ion-icon slot="start" name="help-circle-outline"></ion-icon>
            <ion-label>
              Advice
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/menu/aboutus']">
            <ion-icon slot="start" name="contacts"></ion-icon>
            <ion-label>
              About us
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/menu/yourbookings']">
            <ion-icon slot="start" name="bookmark"></ion-icon>
            <ion-label>
              Your Bookings
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/home/login']">
            <ion-label>
              <ion-button color = "success" type = "submit"  (click) = "logoutButton()">
              Logout
            </ion-button>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>