<ion-content>
  <div text-center>
    <ion-toolbar color="success">
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </div>
  <form [formGroup]="loginForm" class="login-container" (submit)="onLogin()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>

          </div>
          <div padding>
            <ion-item>
              <ion-input #username formControlName="username" required minlength="4" type="username"
                (keyup.enter)="onLogin()" placeholder="Username">
              </ion-input>
            </ion-item>
            <ion-item lines="none" tabindex="2">
              <ion-checkbox color = "success" slot="end" #showPassword></ion-checkbox>
              <ion-input #password formControlName="password" required="true"
                [type]="showPassword.checked ? 'text' : 'password'" type="password" (keyup.enter)="onLogin()"
                placeholder="Password"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success" size="large" type="submit" expand="block">Login</ion-button>
          </div>
          <ion-row>
            <div text-center>
              If you don't have an account, please <a routerLink='../signup'>register</a> first!
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>