<ion-toolbar color="primary" center text-center>
  <ion-title>
    Welcome!
  </ion-title>
</ion-toolbar>
<ion-content padding id="welcome" center text-center>

  <div>
    <img src="../../assets/back12.png" class="logo" />
  </div>

  <ion-grid>    
     
      <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-button size="large" color="primary" href="./home/signup">Sign up</ion-button>
      </ion-col>
    </ion-row>   
    <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-button size="large" color="primary" href="./home/login">Log in</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>